* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: #aaa;
}

#credits {
  position: fixed;
  bottom: 0;
  left: 0;
}

.slick-list {
  overflow: visible;
}

.slick-slide.slick-center {
  transform: scale(1.1);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
  margin: 0 5px;
  z-index: 1;
}

.slick-slide {
  position: relative;
  z-index: 0;
}
